<!--SimulatorComponent: handles simulation of logistics process-->

<script src="../../../node_modules/chart.js/src/chart.js"></script>

<!--Start simulation-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success" id="simStartButton"(click)="startSimulation()">Start simulation</button>
    </div>
  </div>
</div>

<!--GPS sensor map-->
<div class="container sensor-dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="alert" [ngClass]="{'alert-success': gps_sensor_id !== null, 'alert-danger': gps_sensor_id === null}">
        <p><strong><span class="glyphicon glyphicon-dashboard"></span> Global position sensor </strong> {{gps_sensor_id}}</p>
      </div>
      <agm-map [latitude]="loc.lat" [longitude]="loc.lng">
        <agm-direction *ngIf="direction" [origin]="direction.origin" [destination]="direction.destination"></agm-direction>
      </agm-map>
    </div>
  </div>
</div>

<div class="container sensor-dashboard">
  <div class="row">

    <!--Temperature sensor-->
    <div class="col-md-6">
      <div class="alert sensor-header" [ngClass]="{'alert-success': temperature_sensor_id !== null, 'alert-danger': temperature_sensor_id === null}">
        <p><strong><span class="glyphicon glyphicon-dashboard"></span> Temperature</strong> <strong *ngIf="temperature_sensor_id === null">(not included)</strong> {{temperature_sensor_id}}</p>
      </div>
      <div class="alert sensor-chart" *ngIf="temperature_sensor_id !== null">
        <div id="tempChartDiv" [style.width.%]="100" [style.height.px]="400"></div>
      </div>
    </div>

    <!--Accelerometer-->
    <div class="col-md-6">
      <div class="alert sensor-header" [ngClass]="{'alert-success': accelerometer_sensor_id !== null, 'alert-danger': accelerometer_sensor_id === null}">
        <p><strong><span class="glyphicon glyphicon-dashboard"></span> Accelerometer</strong> <strong *ngIf="accelerometer_sensor_id === null">(not included)</strong> {{accelerometer_sensor_id}}</p>
      </div>
      <div class="alert sensor-chart" *ngIf="accelerometer_sensor_id !== null">
        <div id="accChartDiv" [style.width.%]="100" [style.height.px]="400"></div>
      </div>
    </div>
  </div>

  <!--Pressure sensor-->
  <div class="row">
    <div class="col-md-6">
      <div class="alert sensor-header" [ngClass]="{'alert-success': pressure_sensor_id !== null, 'alert-danger': pressure_sensor_id === null}">
        <p><strong><span class="glyphicon glyphicon-dashboard"></span> Pressure</strong> <strong *ngIf="pressure_sensor_id === null">(not included)</strong> {{pressure_sensor_id}}</p>
      </div>
      <div class="alert sensor-chart" *ngIf="pressure_sensor_id !== null">
        <div id="pressChartDiv" [style.width.%]="100" [style.height.px]="400"></div>
      </div>
    </div>

    <!--Humidity sensor-->
    <div class="col-md-6">
      <div class="alert sensor-header" [ngClass]="{'alert-success': humidity_sensor_id !== null, 'alert-danger': humidity_sensor_id === null}">
        <p><strong><span class="glyphicon glyphicon-dashboard"></span> Humidity</strong> <strong *ngIf="humidity_sensor_id === null">(not included)</strong> {{humidity_sensor_id}}</p>
      </div>
      <div class="alert sensor-chart" *ngIf="humidity_sensor_id !== null">
        <div id="humidityChartDiv" [style.width.%]="100" [style.height.px]="400"></div>
      </div>
    </div>
  </div>
</div>

<!--GPS display buttons-->
<div class="row">
  <div class="col-lg-12 form-group">
    <button *ngIf="show_gps == false" class="btn btn-success form-control" (click)="show_gps = true"><span class="glyphicon glyphicon-globe"></span> Show GPS location</button>
    <button *ngIf="show_gps == true" class="btn btn-danger form-control" (click)="show_gps = false"><span class="glyphicon glyphicon-globe"></span> Hide GPS location</button>
  </div>
</div>

<!--Map display-->
<div *ngIf="show_gps == true">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert">
        <agm-map [latitude]="current_location.lat" [longitude]="current_location.lng" [zoom]="10">
          <agm-marker [latitude]="current_location.lat" [longitude]="current_location.lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>

<!-- Trigger the modal with a button -->
<button id="openModalButton" [hidden]="true" data-toggle="modal" data-backdrop="static" data-target="#simcompleteModal">Open Modal</button>

<!-- Modal -->
<div id="simcompleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Simulation completed</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">
          <p><strong><span class="glyphicon glyphicon-globe"></span> Agreement identifier: </strong>{{global.globalvars.agreement_id}}</p>
          <p><strong><span class="glyphicon glyphicon-time"></span> Time taken: </strong>{{time_taken}}</p>
          <p *ngIf="violated == true"><strong><span class="glyphicon glyphicon-remove"></span> Terms were violated!</strong></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="exitSimulation()">End simulation</button>
      </div>
    </div>

  </div>
</div>
